.sponsors {

	position: sticky;
	top: 100px;

	@include breakpoint(sm) {
		margin-top: 50px;
		position: relative;
		top: auto;
	}

	&-title {
		color: lighten($color-text, 60%);
		margin-bottom: 24px;
		text-transform: uppercase;
	}

	&-list {

		margin-top: 20px;

		&-item {

			background-color: #fff;
			@include link-color($color-text, $color-text, none, none);
			display: block;
			margin-bottom: 20px;
			transition: box-shadow .3s ease;

			&:hover {
				box-shadow: 0 4px 8px rgba(0,0,0,.1);
			}

			&-name {
				font-size: $font-size;
				font-weight: $font-weight-medium;
			}

			&-desc {

				font-size: $font-size - 2;
				padding-right: 30px;

				@include breakpoint(sm) {
					padding-right: 15px;
				}

			}

		}

	}

}
