// Font
$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Oswald', sans-serif;
$font-size: 16px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height: 1.5;

// Colors
$color-background: #f4f4f4;
$color-1: #3C6C42;
$color-2: #e15B44;
$color-text: #222;
$color-link-default: #26a44e;
$color-link-hover: #ed3336;
$color-hr: #222;
$color-line: #222;

// Misc
$header-height: 70px;

// Margins
$margin: 20px;
$padding: 20px;

// Margin & padding loop
$values: 5 10 20 30 40;
$positions: top right bottom left;

// Image path
$image-path: '/';

// Grid
$grid-columns: 12;
$grid-column-gutter: 30px;

// break points
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
